
/*. template 5 */
.card {
    --card-width: 28rem;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    padding: var(--space-3);
}



/*.  template 6 */

body {
    display: flex;
    flex-direction: column;
    min-height: 100svh;

    > header {
    padding: var(--space-2) var(--space-3);
    border-block-end: var(--border);
    background: var(--panel);
    }

    > main {
    flex: 1;
    
    max-width: var(--card-width);
    padding: var(--space-3);
    border: var(--border);
    border-block-start: var(--rule);
    background: var(--panel);
    }

    > footer {
    padding: var(--space-2) var(--space-3);
    border-block-start: var(--border);
    background: var(--panel);
    }
}


nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  display: inline-block;
  margin-inline-end: 1rem; 
}